*, :after, :before { box-sizing: border-box; }

body {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 50px;
}

.profil {
    width: 566px;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin: 0 0 50px 0;
}

.players {
    display: flex;
    justify-content: space-between;
    min-height: 100%;
}

.adela,
.honza {
    display: flex;
    
}

.foto_Adela {
    height: 80px;
    width: auto;
    border-radius: 5px;
    padding: 0 0 20px 10px;
    object-fit: cover;
}
.foto_Honza {
    height: 80px;
    width: auto;
    border-radius: 5px;
    padding: 0 10px 20px 0;
    object-fit: cover;
}

h3 {
    margin: 5px 0 0 0;
    padding: 0;

}

p {
    text-align: justify;
    margin: 0;
    color: grey;
}
.sachy img {
    width: 80px;
    height: 80px;
}

.sachovnice {
    width: 566px;
    height: 566px;
    background-image: url(obrazky/sachovnice.png);
    background-position: cover;
    border: 10px solid rgb(32, 25, 25);
    border-radius: 5px;
}

.sachy {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    grid-auto-flow: row;
}

.dama_cerna {
    grid-column-start: 5;
}

.pesec_cerna {
    grid-row-start: 2;
}